"menu": [
  "label": "Nucleus"
  "submenu": [
    {
      "label": "Enter Nucleus"
      "command": "nucleus:enter"
    }
    {
      "label": "Chat"
      "command": "nucleus:chat"
    }
    {
      "label": "Login"
      "command": "nucleus:login"
    }
    {
      "label": "Go"
      "command": "nucleus:go"
    }
  ]
]